<div class="contents row">
  <% @decks.each do |deck| %>
    <p><%= deck.name %></p>
    <div class="progress">
      <div class="progress-bar progress-bar-striped active" id = "answer_progress" role="progressbar" aria-valuenow=@aria_valuenow aria-valuemin="0" aria-valuemax="100" >
        <%= @answer_valuenow %>%
      </div>
      <span>あなたの進捗は<%= @answer_valuenow  %>パーセントです。</span>
    </div>
  <% end %>
</div>

