<h4>投稿が完了しました</h4>

<div class="panel panel-info">
	<div class="panel-heading">
		<h5>today's quote</h5>
	</div>
	<div class="panel-body">
		<h4><%= @quote.text %></h4>
	</div>
	<div class="panel-footer">
		<h5><%= @quote.name %></h5>
	</div>
</div>
